@import "tailwindcss";

@theme {
  --breakpoint-xs: 500px;

  --background-image-bottom-fade: linear-gradient(
    180deg,
    #ffffff00 85%,
    95%,
    #fffefa
  );
  --background-image-fade: linear-gradient(0deg, #fffefa 65%, 90%, #fffefa99);
  --background-image-feature2: linear-gradient(
    270deg,
    #807ee1 -9.09%,
    #5e72eb 108.5%
  );
  --background-image-footer: linear-gradient(
    90deg,
    #120c6e -30.19%,
    #807ee1 107.81%
  );

  --color-milky-white: #fffefa;
  --color-light-blue: #5e72eb;
  --color-blue: #120c6e;
  --color-medium-blue: #0b0742;
  --color-lavender: #807ee1;
  --color-salmon: #ff9190;

  --color-mod-lm: #ff9190;
  --color-mod-nm: #6d9eeb;
  --color-mod-hd: #f6b26b;
  --color-mod-hr: #e06666;
  --color-mod-dt: #8e7cc3;
  --color-mod-tb: #93c47d;
}

@utility padding {
  @apply px-4 md:px-12 lg:px-24;
}

@media (max-width: 768px) {
  .no-bottom-shadow {
    clip-path: inset(-15px -15px 0px -15px);
  }

  .no-top-shadow {
    clip-path: inset(0px -15px -15px -15px);
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

::view-transition-group(.nav-underline) {
  animation-duration: 220ms;
  animation-timing-function: cubic-bezier(0.5, 0, 0.2, 1);
}

::view-transition-old(.nav-underline),
::view-transition-new(.nav-underline) {
  animation: none;
  height: 100%;
}
