@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .padding {
    @apply px-4 md:px-12 lg:px-24;
  }
}

* {
  outline: 2px solid transparent;
  outline-offset: 0px;
}
*:focus {
  outline-color: #5e72eb;
}